body{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
}

main{
	margin: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 25vw;
	background: #ccc;
	padding: 40px;	
	border-radius: 10px;
	box-shadow: 5px 5px 10px #ccc;
}
h1{
	display: inline-flex;
	justify-content: center;
	align-content: center;
}

h3{
	margin-bottom: 5px;
	justify-content: center;
	align-content: center;
}

form{
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
input[type=text]{
	max-width: 100%;
	border: none;
	border-radius: 2px;
	padding: 10px;
	border-bottom: 2px solid black;
	margin: 0px;
	margin-bottom: 5px;

}

.resultado{
	margin-bottom: 20px;
	font-size: 18px;

}
.calcular{
	display: grid;
	background: black;
	color: white;
	border-radius: 5px;
	padding: 15px;
	max-width: 40%;
	justify-content: center;
	
}


